<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="gjun.project.animaladoption">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_animaladoption"
        android:label="@string/app_name"
        android:hardwareAccelerated="false"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_animaladoption_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <!-- android:theme="@style/Theme.AnimalAdoption" -->
        <activity
            android:name=".WelcomeActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".UserActivity"
            android:exported="false" />
        <activity
            android:name=".RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".StartActivity"
            android:exported="false" />
        <activity
            android:name=".AdoptionNotice"
            android:exported="false" />
        <activity
            android:name=".AdoptSteps"
            android:exported="false" />
        <activity
            android:name=".DogActivity"
            android:exported="false" />
        <activity
            android:name=".CatActivity"
            android:exported="false" />
        <activity
            android:name=".ElseActivity"
            android:exported="false" />
        <activity
            android:name=".BeforeActivity"
            android:exported="false" />
        <activity
            android:name=".WebActivity"
            android:exported="false" />
        <activity
            android:name=".MemberActivity"
            android:exported="false" />
        <activity
            android:name=".ResetNameActivity"
            android:exported="false" />
        <activity
        android:name=".ResetPassActivity"
        android:exported="false" />

    </application>

</manifest>